// Footer styles
#contact {
    margin: 0 auto;
    background-color: $darker;
    padding: 30px 0 50px;
    text-align: center;
}

.footer {
	width: 40%;
	color: $gray;
}

hr {
    border-top: 1px solid $dark;
}

.footer-logo {
	margin: 55px 0 25px 0;
}
.footer-icon {
	color: $dark;
	margin-left: 15px;
  margin-top: 20px;
  cursor: pointer;
  transition: all .1s linear;
	&:first-child {
		margin-left: 0;
	}
  &:hover {
    color: $gray;
  }
}
